.google-logo {
  width: 200px;
  display: block;
  margin-left: 150px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.google-search-box {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  width: 500px;
  font-size: 16px;
  border-radius: 30px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border: none;
  color: rgb(200, 200, 200);
}