div {
  background-color: rgb(33, 33, 33);
  color: white;
  width: 360px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Arial;
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.subtitle {
  
  color: rgb(160, 160, 160);
  
}