.request-now-button {
  background-color: black;
  color: rgb(255, 255, 255);
  height: 35px;
  width: 110px;
  border-style: none;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.15s;

}
.request-now-button:hover {
  opacity: 0.8;
}