p {
  font-family: Arial;
  margin-bottom: 0;
  margin-top: 0;
}
.price {
  font-size: 32px;

}
.currency {
  font-size: 16px;
  color: rgb(100, 100, 100);

}
.today-details {
  color: rgb(24, 128, 56);
  margin-top: 5px;
}
.after-hours-details {
  color: rgb(100, 100, 100);
  margin-top: 8px;
}
.aft-hours-price {
  color: rgb(235, 39, 39);
}