.get-started-button {
  background-color: rgb(121, 82, 179);
  color: white;
  height: 36px;
  width: 100px;
  border-style: none;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.15s;

}
.get-started-button:hover {
  background-color: rgb(92, 57, 145);
}
.download-button {
  background-color: white;
  height: 36px;
  width: 100px;
  color: rgb(108, 117, 125);
  font-weight: bold;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  margin-left: 8px;
  transition: background-color 0.15s, color 0.15s;
}
.download-button:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}