.apply-on-company-website {
  background-color: rgb(10, 102, 194);
  color: white;
  height: 30px;
  width: 200px;
  border-style: none;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 4px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.apply-on-company-website:hover {
  background-color: rgb(1, 65, 129);
}
.save-button {
  background-color: white;
  color: rgb(10, 102, 194);
  height: 30px;
  width: 60px;
  border-style: solid;
  border-color: rgb(10, 102, 194);
  border-radius: 15px;
  border-width: 1px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s;
}
.save-button:hover {
  background-color: rgb(227, 238, 255);
}