.link-to-amazon {
  color: rgb(0, 113, 133);
  cursor: pointer;
  font-size: 17px;
}
.link-to-amazon:hover {
  color: rgb(172, 106, 8);
}
.item-name {
  font-weight: bold;
  font-size: 22px;
}
.item-price {
  color: rgb(0, 118, 0);
  font-weight: bold;
  font-size: 16px;
}
.add-to-cart-button {
  background-color: rgb(255, 216, 20);
  height: 30px;
  width: 110px;
  border-style: none;
  border-radius: 16px;
  font-size: 14px;
  cursor: pointer;
  transition: ;
}
.add-to-cart-button:hover {
  background-color: rgb(231, 194, 5);
}
.add-to-cart-button:active {
  opacity: 0.6;
}
.buy-now-button {
  background-color: rgb(255, 164, 28);
  height: 30px;
  width: 110px;
  font-size: 14px;
  border-style: none;
  border-radius: 16px;
  cursor: pointer;
  margin-left: 7px;

}
.buy-now-button:hover {
  background-color: rgb(235, 145, 10);
}
.buy-now-button:active {
  opacity: 0.6;
}