body {
  height: 3000px;
}
.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
}
button {
  background-color: black;
  color: white;
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  
  font-family: Arial;
  font-size: 20px;
  cursor: pointer;
}